@import url('https://fonts.googleapis.com/css?family=Oswald|Raleway');

a {
  text-decoration: none;
   color: rgba(0, 0, 0, .8);
}

ul {
  list-style: none;
}

button {
  border: none;
  border-radius: 5%; 
  padding: .5rem;
  background-color: rgba(0,0,0, .8);
  color: rgb(255,255,255);
  max-width: 8vw;
  cursor: pointer;
  text-transform: uppercase;
}

.App {
  text-align: center; 
  font-family: "Oswald", sans-serif;  
}

.arrow {
  width: 5vw;
  opacity: .7;
  margin-top: 5vh;
}

.arrow:hover {
  color: rgba(0, 38, 252, 0.8);
}

.scroll-lock {
  overflow: hidden;
}



@media  (max-width: 1024px) {
  /* jumbotron-mobile */
  .jumbotron,
  .projects,
  .footer {
    height: auto;
  }
  .jumbotron {
    display: grid;
    grid-template-columns: 15vw 1fr 15vw;
    column-gap: 0;
  }

  .left,
  .center,
  .right {
    grid-row-start: 1;
    grid-column-start: 2;
    grid-column-end: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1; 
    height: 80vh;
  }

  .left {
    grid-row-start: 2;
  }

  .center {
    grid-row-start: 1;
    display: flex;
    flex-direction: column;
  }

  .center img:hover {
    opacity: 1;
  }

  .right {
    grid-row-start: 3;
  }

/* projects-mobile */

  .item-wrapper {
    display: grid;
    grid-template-columns: 15vw 1fr 15vw;
    column-gap: 0;
  }

  .item-wrapper a {
    grid-column-start: 2;
    grid-row-start: auto; 
  }

  .item-wrapper a {
    grid-column-start: 2;
  }

  /* footer-mobile */

  .social {
    display: flex;
    flex-direction: row; 
    margin: 5vh 0;   
  }

  .social div {
      width: 15vw;
      margin: 0 4vw;
  }

  .logo {
      max-width: 100%;
      margin: 0;
  }

  .open-modal-btn {
    max-width: 25vw;
  }

  .cv {
      display: flex;
      flex-direction: column;  
      justify-content: center;  
      max-height: 20vh;
      width: 10vw;
      margin: 10vh 0;
  }

  /* modal-mobile */
  .modal-content {
    width: 50vw;
    height: auto; 
  }

  .form input[type="submit"] { 
    border-radius: 5%;
    width: auto;  
    max-width: 15vw;    
}
}