.item {
    border-radius: 3%;
    box-shadow: 0 3px 11px 0 rgba(0,0,0,.18), 0 2px 15px 0 rgba(0,0,0,.15);    
    height: 30vh;
    background-color: rgba(0,0,0,.18);
    opacity: .7;
    transition: 1s;
    padding: 0 .5rem 0 .5rem;    
}

.item:hover {
    opacity: 1;
    background-color: rgba(0, 38, 252, 0.8);
    box-shadow: 0 3px 11px 0 rgba(0,0,0,.5), 0 2px 15px 0 rgba(0,0,0,.4); 
    transform: scale(1.1,1.1);
}

.item:hover .item:not(.item:hover) {
    opacity: .5;
}

.item-wrapper {
    display: grid;
    grid-template-columns: 15vw repeat(3, 1fr) 15vw;
    column-gap: 5vw;
}

.item-1 {
    grid-column-start: 2;    
}

.item-4 {
    grid-column-start: 2;
    grid-row-start: 2;    
}

.item-5 {
    grid-column-start: 3;
    grid-row-start: 2;    
}

.item-6 {
    grid-column-start: 4;
    grid-row-start: 2;    
}